In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CovidColombia.csv', usecols=['ID de caso', 'Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado','Fecha de muerte'],parse_dates=['Fecha de notificación','Fecha de muerte'], low_memory=False)

In [3]:
menordeUno= df['Edad'] < 1
UnoCuatro = np.logical_and(df['Edad'] > 0, df['Edad'] < 5)
CincoCatorce = np.logical_and(df['Edad'] > 4, df['Edad'] < 15)
QuinceCuarentayCuatro = np.logical_and(df['Edad'] > 14, df['Edad'] < 45)
CuarentayCincoSesentayCuatro  = np.logical_and(df['Edad'] > 44, df['Edad'] < 65)
SesentayCincoOchentayCuatro = np.logical_and(df['Edad'] > 64, df['Edad'] < 85)
OchentayCincoNoventayNueve = np.logical_and(df['Edad'] > 84, df['Edad'] < 100)
masdeCien = df['Edad'] > 99

In [44]:
grupoEdad = OchentayCincoNoventayNueve
GruposEtareos = df.loc[grupoEdad,['ID de caso','Fecha de notificación', 'Ciudad de ubicación',
       'Departamento o Distrito ', 'atención', 'Edad', 'Sexo', 'Tipo',
       'Estado', 'Fecha de muerte']]

In [45]:
Persona_por_Grupos_Etareos = GruposEtareos['ID de caso'].count()
Persona_por_Grupos_Etareos

3067

In [46]:
ESTADO = 'Fallecido'
estado = df['Estado'] == ESTADO
GruposEtareos.loc[estado]

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,Fecha de muerte
156,157,2020-03-20,Santa Marta,Santa Marta D.T. y C.,Fallecido,88,M,Relacionado,Fallecido,2020-03-23
1169,1170,2020-03-31,Cali,Valle del Cauca,Fallecido,85,F,En estudio,Fallecido,2020-04-06
1199,1200,2020-03-28,Villavicencio,Meta,Fallecido,94,F,Relacionado,Fallecido,2020-04-06
1298,1299,2020-03-30,Bogotá D.C.,Bogotá D.C.,Fallecido,93,F,En estudio,Fallecido,2020-03-31
1327,1328,2020-03-30,Bogotá D.C.,Bogotá D.C.,Fallecido,92,M,En estudio,Fallecido,2020-04-15
...,...,...,...,...,...,...,...,...,...,...
232605,232646,2020-07-21,Bogotá D.C.,Bogotá D.C.,Fallecido,97,M,En estudio,Fallecido,2020-07-23
232661,232702,2020-07-14,Bogotá D.C.,Bogotá D.C.,Fallecido,87,F,En estudio,Fallecido,2020-07-17
232711,232752,2020-07-12,Bogotá D.C.,Bogotá D.C.,Fallecido,88,M,En estudio,Fallecido,2020-07-24
232971,233012,2020-07-20,Bogotá D.C.,Bogotá D.C.,Fallecido,93,F,En estudio,Fallecido,2020-07-24
234526,234567,2020-07-17,Barranquilla,Barranquilla D.E.,Fallecido,88,F,En estudio,Fallecido,2020-07-16

In [47]:
estado_Grupo_etareo = GruposEtareos.loc[estado,'ID de caso'].count()
estado_Grupo_etareo

1097

In [48]:
TasaLetalidadxGrupoEtareo = (estado_Grupo_etareo/Persona_por_Grupos_Etareos)*100
TasaLetalidadxGrupoEtareo

35.76785132050864

In [60]:
dane= pd.read_csv('Dane2018_2023.csv', usecols= ['Dpto', 'Municipio', 'Género','2020'])
dane

           Dpto  Municipio       Género      2020
0     Antioquia   Medellín  AMBOS SEXOS   2533424
1     Antioquia   Medellín      HOMBRES   1193791
2     Antioquia   Medellín      MUJERES   1339633
3     Antioquia  Abejorral  AMBOS SEXOS     20287
4     Antioquia  Abejorral      HOMBRES     10558
...         ...        ...          ...       ...
3364    Vichada   Cumaribo      HOMBRES     41840
3365    Vichada   Cumaribo      MUJERES     37023
3366   País_Col   País_Col  AMBOS SEXOS  50372424
3367   País_Col   País_Col      HOMBRES  24594882
3368   País_Col   País_Col      MUJERES  25777542

[3369 rows x 4 columns]

In [64]:
filtro = dane['Género'] == 'AMBOS SEXOS'
Poblacion = dane.loc[filtro].drop(columns = 'Género')
Poblacion

           Dpto       Municipio      2020
0     Antioquia        Medellín   2533424
3     Antioquia       Abejorral     20287
6     Antioquia        Abriaquí      2735
9     Antioquia      Alejandría      4698
12    Antioquia           Amagá     31283
...         ...             ...       ...
3354    Vichada  Puerto Carreño     20294
3357    Vichada    La Primavera      9608
3360    Vichada   Santa Rosalía      4193
3363    Vichada        Cumaribo     78863
3366   País_Col        País_Col  50372424

[1123 rows x 3 columns]

In [75]:
Poblacion.set_index('Dpto', inplace=True)

In [76]:
departamento = 'Caldas'

In [78]:
Poblacion.loc[departamento, '2020']

Dpto
Caldas    446160
Caldas     23048
Caldas     36691
Caldas     10556
Caldas     10650
Caldas     52267
Caldas     11400
Caldas     74006
Caldas      5882
Caldas     17794
Caldas      9167
Caldas     13490
Caldas      2544
Caldas     21114
Caldas      6128
Caldas     15324
Caldas     15681
Caldas     19755
Caldas     51956
Caldas     10568
Caldas     19393
Caldas     19967
Caldas      4916
Caldas     29363
Caldas     10351
Caldas     67429
Caldas     12853
Name: 2020, dtype: int64