In [1]:
import pandas as pd

In [59]:
df_col = pd.read_csv('DaneCol.csv')

In [60]:
df_col

           Dpto       Municipio        2018        2019        2020
0     Antioquia        Medellín   2.427.129   2.483.545   2.533.424
1     Antioquia       Abejorral      20.367      20.258      20.287
2     Antioquia        Abriaquí       2.695       2.710       2.735
3     Antioquia      Alejandría       4.657       4.669       4.698
4     Antioquia           Amagá      30.227      30.777      31.283
...         ...             ...         ...         ...         ...
1118    Vichada  Puerto Carreño      20.936      20.474      20.294
1119    Vichada    La Primavera      10.122       9.799       9.608
1120    Vichada   Santa Rosalía       4.059       4.130       4.193
1121    Vichada        Cumaribo      72.691      76.196      78.863
1122   Nacional        Nacional  48.258.494  49.395.678  50.372.424

[1123 rows x 5 columns]

In [61]:
col_munic = df_col.groupby('Municipio')

In [63]:
col_munic.get_group('Manizales')

       Dpto  Municipio     2018     2019     2020
318  Caldas  Manizales  434.403  440.608  446.160