# FALTA LA BASE DE DATOS DE COLOMBIA POR GÉNERO, EDAD, DPTO Y MUNICIPIO

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CovidColombia.csv', usecols=['ID de caso', 'Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado','Fecha de muerte'],parse_dates=['Fecha de notificación','Fecha de muerte'], low_memory=False)

In [3]:
daneEtareos= pd.read_csv('DaneEtareos.csv', sep=',', usecols = ['REGION', 'Grupos de edad', '2020'])

In [4]:
#menordeUno= df['Edad'] < 1
#UnoCuatro = np.logical_and(df['Edad'] > 0, df['Edad'] < 5)
#CincoCatorce = np.logical_and(df['Edad'] > 4, df['Edad'] < 15)
#QuinceCuarentayCuatro = np.logical_and(df['Edad'] > 14, df['Edad'] < 45)
#CuarentayCincoSesentayCuatro  = np.logical_and(df['Edad'] > 44, df['Edad'] < 65)
#SesentayCincoOchentayCuatro = np.logical_and(df['Edad'] > 64, df['Edad'] < 85)
#OchentayCincoNoventayNueve = np.logical_and(df['Edad'] > 84, df['Edad'] < 100)
#masdeCien = df['Edad'] > 99

In [15]:
daneEtareos

       REGION Grupos de edad      2020
0    COLOMBIA          Todas  50372424
1    COLOMBIA          01-04   3927256
2    COLOMBIA          05-09   3936569
3    COLOMBIA          10-14   3975771
4    COLOMBIA          05-14   7912340
..        ...            ...       ...
913   Vichada          85-89       174
914   Vichada          90-94        74
915   Vichada          95-99        32
916   Vichada          85-99       280
917   Vichada        100-120        23

[918 rows x 3 columns]

In [6]:
municipio = 'Manizales'
edad_inicial=15
edad_final=44
ESTADO = 'Fallecido'
etareo = str(edad_inicial) + '-' + str(edad_final)
edades = []
for i in range(edad_inicial,edad_final+1):
    edades.append(i)

In [7]:
filtro =  daneEtareos['REGION'] == municipio
dptoEtareos = daneEtareos.loc[filtro, :]
filtro1 = dptoEtareos['Grupos de edad'] == etareo
poblacionxGrupoEtareo = dptoEtareos.loc[filtro1,'2020']

In [8]:
filtro = df['Edad'].isin(edades)
todosetareos = df.loc[filtro,:]
todosetareos['ID de caso'].count()
todosetareos

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,Fecha de muerte
0,1,2020-03-02,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,NaN
1,2,2020-03-06,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,NaN
4,5,2020-03-09,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,NaN
5,6,2020-03-10,Itagüí,Antioquia,Recuperado,27,F,Relacionado,Leve,NaN
7,8,2020-03-09,Bogotá D.C.,Bogotá D.C.,Recuperado,22,F,Importado,Leve,NaN
...,...,...,...,...,...,...,...,...,...,...
334964,335005,2020-07-22,Bogotá D.C.,Bogotá D.C.,Casa,38,F,En estudio,Asintomático,NaN
334965,335006,2020-07-23,Bogotá D.C.,Bogotá D.C.,Casa,28,F,En estudio,Asintomático,NaN
334966,335007,2020-07-23,Bogotá D.C.,Bogotá D.C.,Casa,33,M,En estudio,Asintomático,NaN
334971,335012,2020-07-26,Bogotá D.C.,Bogotá D.C.,Casa,28,M,En estudio,Asintomático,NaN
334975,335016,2020-07-28,Bogotá D.C.,Bogotá D.C.,Casa,38,M,En estudio,Asintomático,NaN

In [9]:
filtro = todosetareos['Ciudad de ubicación'] == municipio
dfetareosdpto = todosetareos.loc[filtro, :]
dfetareosdpto

,ID de caso,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,Fecha de muerte
180,181,2020-03-18,Manizales,Caldas,Recuperado,22,F,Importado,Leve,NaN
452,453,2020-03-25,Manizales,Caldas,Recuperado,26,F,Importado,Leve,NaN
1818,1819,2020-04-03,Manizales,Caldas,Recuperado,18,F,Relacionado,Leve,NaN
1820,1821,2020-04-04,Manizales,Caldas,Recuperado,26,F,En estudio,Leve,NaN
2698,2699,2020-04-09,Manizales,Caldas,Recuperado,22,F,En estudio,Leve,NaN
...,...,...,...,...,...,...,...,...,...,...
329786,329827,2020-07-30,Manizales,Caldas,Casa,15,M,En estudio,Leve,NaN
329800,329841,2020-07-30,Manizales,Caldas,Casa,15,M,En estudio,Leve,NaN
330091,330132,2020-07-23,Manizales,Caldas,Casa,41,M,En estudio,Leve,NaN
330366,330407,2020-07-16,Manizales,Caldas,Casa,44,M,En estudio,Leve,NaN
331042,331083,2020-07-30,Manizales,Caldas,Casa,35,F,En estudio,Leve,NaN

In [10]:
casosXgrupoEtareo = dfetareosdpto['ID de caso'].count()
casosXgrupoEtareo

266

In [11]:
estado = df['Estado'] == ESTADO 
estadoporDpto = todosetareos.loc[estado]
filtro = estadoporDpto['Ciudad de ubicación'] == municipio
fallecidospormunicipioygrupoetareo = estadoporDpto.loc[filtro,'ID de caso'].count()

fallecidospormunicipioygrupoetareo

0

In [12]:
TasaLetalidadxGrupoEtareo = (fallecidospormunicipioygrupoetareo/casosXgrupoEtareo)*100
TasaLetalidadxGrupoEtareo

0.0

In [13]:
filtro = daneEtareos['REGION'] == municipio
PoblacionDptoEtareos = daneEtareos.loc[filtro]
PoblacionDptoEtareos
filtro1 = PoblacionDptoEtareos['Grupos de edad'] == etareo
poblacionxGrupoEtareo = PoblacionDptoEtareos.loc[filtro1]['2020']
poblacionxGrupoEtareo

Series([], Name: 2020, dtype: int64)

In [14]:
MortalidadGrupoEtareo =(fallecidospormunicipioygrupoetareo/poblacionxGrupoEtareo)*1000000
MortalidadGrupoEtareo

Series([], Name: 2020, dtype: float64)