In [222]:
import pandas as pd

In [230]:

df = pd.read_csv('DaneMunic2018_2023.csv')

In [232]:
df

,Dpto,Municipio,Género,2018,2019,2020,2021,2022,2023
0,Antioquia,Medellín,AMBOS SEXOS,2427129,2483545,2533424,2573220,2612958,2653729
1,Antioquia,Medellín,HOMBRES,1140658,1168926,1193791,1213421,1232847,1252750
2,Antioquia,Medellín,MUJERES,1286471,1314619,1339633,1359799,1380111,1400979
3,Antioquia,Abejorral,AMBOS SEXOS,20367,20258,20287,20602,20920,21246
4,Antioquia,Abejorral,HOMBRES,10534,10510,10558,10744,10937,11134
...,...,...,...,...,...,...,...,...,...
3361,Vichada,Santa Rosalía,HOMBRES,2130,2152,2173,2198,2217,2235
3362,Vichada,Santa Rosalía,MUJERES,1929,1978,2020,2054,2080,2105
3363,Vichada,Cumaribo,AMBOS SEXOS,72691,76196,78863,79984,80837,81651
3364,Vichada,Cumaribo,HOMBRES,38690,40488,41840,42372,42774,43156
3365,Vichada,Cumaribo,MUJERES,34001,35708,37023,37612,38063,38495

In [234]:
filtro = df['Género'] == 'AMBOS SEXOS'
df2 = df.loc[filtro, ['Dpto', 'Municipio', 'Género', '2018', '2019', '2020', '2021', '2022',
       '2023']]

In [235]:
df2.columns

Index(['Dpto', 'Municipio', 'Género', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [280]:
municipios=['Manizales', 'Barranquilla', 'Pereira', 'Armenia', 'Neira']
dptos = ['Caldas', 'Risaralda', 'Quindio']
dfgrupomunic=  df2.groupby(['Dpto', 'Municipio'])[['Género', '2020', '2021', '2022',
       '2023']].sum().loc[dptos]
dfgrupodptos=  df2.groupby(['Dpto'])[['Género', '2020', '2021', '2022',
       '2023']].sum().loc[dptos]

In [282]:
dfgrupodptos

              2020     2021     2022     2023
Dpto
Caldas     1018453  1027314  1036455  1046418
Risaralda   961055   968626   977829   988091
Quindio     555401   562117   569569   577543

In [292]:
dfgrupodptos

              2020     2021     2022     2023
Dpto
Caldas     1018453  1027314  1036455  1046418
Risaralda   961055   968626   977829   988091
Quindio     555401   562117   569569   577543

In [283]:
dfgrupomunic

                                 2020    2021    2022    2023
Dpto      Municipio
Caldas    Aguadas               23048   23245   23452   23678
          Anserma               36691   37005   37335   37693
          Aranzazu              10556   10646   10741   10844
          Belalcázar            10650   10741   10837   10941
          Chinchiná             52267   52715   53184   53695
          Filadelfia            11400   11498   11600   11711
          La Dorada             74006   74655   75319   76043
          La Merced              5882    5932    5985    6043
          Manizales            446160  450074  454077  458442
          Manzanares            17794   17946   18106   18280
          Marmato                9167    9247    9330    9419
          Marquetalia           13490   13606   13727   13859
          Marulanda              2544    2566    2589    2614
          Neira                 21114   21295   21484   21691
          Norcasia               6128    6181    6235    6295
          Palestina             15681   15815   15956   16109
          Pensilvania           19755   19924   20102   20295
          Pácora                15324   15455   15593   15743
          Riosucio              51956   52411   52878   53386
          Risaralda             10568   10659   10753   10857
          Salamina              19393   19559   19733   19923
          Samaná                19967   20138   20317   20513
          San José               4916    4958    5002    5050
          Supía                 29363   29620   29884   30171
          Victoria              10351   10440   10533   10634
          Villamaría            67429   68020   68625   69285
          Viterbo               12853   12963   13078   13204
Quindio   Armenia              304764  308463  312551  316926
          Buenavista             3129    3166    3208    3253
          Calarca               74890   75796   76803   77878
          Circasia              29060   29413   29802   30220
          Córdoba                5739    5807    5884    5967
          Filandia              12259   12405   12570   12746
          Génova                 7447    7536    7636    7743
          La Tebaida            34803   35225   35692   36192
          Montenegro            37518   37966   38469   39007
          Pijao                  5121    5182    5251    5324
          Quimbaya              31142   31514   31931   32378
          Salento                9529    9644    9772    9909
Risaralda Apía                  12221   12315   12432   12563
          Balboa                 6297    6346    6406    6473
          Belén de Umbría       24708   24899   25135   25399
          Dosquebradas         223782  225554  227696  230086
          Guática               12110   12203   12319   12449
          La Celia               7426    7483    7554    7634
          La Virginia           27981   28197   28465   28763
          Marsella              16716   16845   17005   17183
          Mistrató              17257   17390   17555   17740
          Pereira              477027  480803  485373  490464
          Pueblo Rico           16450   16577   16734   16910
          Quinchía              27274   27484   27746   28037
          Santa Rosa de Cabal   79372   80000   80760   81608
          Santuario             12434   12530   12649   12782