In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('CovidColombia.csv', usecols=['ID de caso', 'Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado','Fecha de muerte'],parse_dates=['Fecha de notificación','Fecha de muerte'], low_memory=False)

In [3]:
daneEtareos= pd.read_csv('DaneEtareos.csv', sep=',', usecols = ['REGION', 'Grupos de edad', '2020'])
daneEtareos

       REGION Grupos de edad      2020
0    COLOMBIA          Todas  50372424
1    COLOMBIA          01-04   3927256
2    COLOMBIA          05-09   3936569
3    COLOMBIA          10-14   3975771
4    COLOMBIA          05-14   7912340
..        ...            ...       ...
913   Vichada          85-89       174
914   Vichada          90-94        74
915   Vichada          95-99        32
916   Vichada          85-99       280
917   Vichada        100-120        23

[918 rows x 3 columns]

In [4]:
menordeUno= df['Edad'] < 1
UnoCuatro = np.logical_and(df['Edad'] > 0, df['Edad'] < 5)
CincoCatorce = np.logical_and(df['Edad'] > 4, df['Edad'] < 15)
QuinceCuarentayCuatro = np.logical_and(df['Edad'] > 14, df['Edad'] < 45)
CuarentayCincoSesentayCuatro  = np.logical_and(df['Edad'] > 44, df['Edad'] < 65)
SesentayCincoOchentayCuatro = np.logical_and(df['Edad'] > 64, df['Edad'] < 85)
OchentayCincoNoventayNueve = np.logical_and(df['Edad'] > 84, df['Edad'] < 100)
masdeCien = df['Edad'] > 99

In [326]:
#departamento = 'Atlántico'
#departamento = 'Antioquia'
departamento = 'Risaralda'

In [327]:
grupoEdad = masdeCien
etareo = '100-120'

In [328]:
GruposEtareos = df.loc[grupoEdad,['ID de caso','Fecha de notificación', 'Ciudad de ubicación',
       'Departamento o Distrito ', 'atención', 'Edad', 'Sexo', 'Tipo',
       'Estado', 'Fecha de muerte']]

In [329]:
daneEtareos

       REGION Grupos de edad      2020
0    COLOMBIA          Todas  50372424
1    COLOMBIA          01-04   3927256
2    COLOMBIA          05-09   3936569
3    COLOMBIA          10-14   3975771
4    COLOMBIA          05-14   7912340
..        ...            ...       ...
913   Vichada          85-89       174
914   Vichada          90-94        74
915   Vichada          95-99        32
916   Vichada          85-99       280
917   Vichada        100-120        23

[918 rows x 3 columns]

In [330]:
ESTADO = 'Fallecido'
estado = df['Estado'] == ESTADO 
estadoporDpto = GruposEtareos.loc[estado]
filtro = estadoporDpto['Departamento o Distrito '] == departamento
fallecidospordepartamentoygrupoetareo = estadoporDpto.loc[filtro,'ID de caso'].count()
fallecidospordepartamentoygrupoetareo

0

In [331]:
GruposEtareos.columns

Index(['ID de caso', 'Fecha de notificación', 'Ciudad de ubicación',
       'Departamento o Distrito ', 'atención', 'Edad', 'Sexo', 'Tipo',
       'Estado', 'Fecha de muerte'],
      dtype='object')

In [332]:
filtro = GruposEtareos['Departamento o Distrito '] == departamento 
Persona_por_Grupos_Etareos = GruposEtareos[filtro].count()['ID de caso']
Persona_por_Grupos_Etareos

0

In [333]:
TasaLetalidadxGrupoEtareo = (fallecidospordepartamentoygrupoetareo/Persona_por_Grupos_Etareos)*100
TasaLetalidadxGrupoEtareo

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in long_scalars
  """Entry point for launching an IPython kernel.

nan

In [334]:

filtro = daneEtareos['REGION'] == departamento
totalDptoEtareos = daneEtareos.loc[filtro]
filtro1 = totalDptoEtareos['Grupos de edad'] == etareo
total = totalDptoEtareos.loc[filtro1]['2020'].astype(int)
total

566    542
Name: 2020, dtype: int64

In [335]:
MortalidadGrupoEtareo =(fallecidospordepartamentoygrupoetareo/total)*1000000
MortalidadGrupoEtareo

566    0.0
Name: 2020, dtype: float64

#####