In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('CovidColombia.csv', usecols=['ID de caso', 'Fecha de notificación',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado','Fecha de muerte'],parse_dates=['Fecha de notificación','Fecha de muerte'], low_memory=False)

In [76]:
menordeUno= df['Edad'] < 1
UnoCuatro = np.logical_and(df['Edad'] > 0, df['Edad'] < 5)
CincoCatorce = np.logical_and(df['Edad'] > 4, df['Edad'] < 15)
QuinceCuarentayCuatro = np.logical_and(df['Edad'] > 14, df['Edad'] < 45)
CuarentayCincoSesentayCuatro  = np.logical_and(df['Edad'] > 44, df['Edad'] < 65)
SesentayCincoOchentayCuatro = np.logical_and(df['Edad'] > 64, df['Edad'] < 85)
OchentayCincoNoventayNueve = np.logical_and(df['Edad'] > 84, df['Edad'] < 100)
masdeCien = df['Edad'] > 99

In [124]:
departamento = 'Caldas'

In [141]:
grupoEdad = masdeCien
GruposEtareos = df.loc[grupoEdad,['ID de caso','Fecha de notificación', 'Ciudad de ubicación',
       'Departamento o Distrito ', 'atención', 'Edad', 'Sexo', 'Tipo',
       'Estado', 'Fecha de muerte']]

In [142]:
ESTADO = 'Fallecido'
estado = df['Estado'] == ESTADO 
estadoporDpto = GruposEtareos.loc[estado]
filtro = estadoporDpto['Departamento o Distrito '] == departamento
fallecidospordepartamentoygrupoetareo = estadoporDpto.loc[filtro,'ID de caso'].count()
fallecidospordepartamentoygrupoetareo

0

In [58]:
Persona_por_Grupos_Etareos = GruposEtareos['ID de caso'].count()
Persona_por_Grupos_Etareos

60430

In [59]:
estado_Grupo_etareo = GruposEtareos.loc[estado,'ID de caso'].count()
estado_Grupo_etareo

2386

In [60]:
TasaLetalidadxGrupoEtareo = (estado_Grupo_etareo/Persona_por_Grupos_Etareos)*100
TasaLetalidadxGrupoEtareo

3.9483700148932646

In [61]:
dane= pd.read_csv('Dane2018_2023.csv', usecols= ['Dpto', 'Municipio', 'Género','2020'])
dane

           Dpto  Municipio       Género      2020
0     Antioquia   Medellín  AMBOS SEXOS   2533424
1     Antioquia   Medellín      HOMBRES   1193791
2     Antioquia   Medellín      MUJERES   1339633
3     Antioquia  Abejorral  AMBOS SEXOS     20287
4     Antioquia  Abejorral      HOMBRES     10558
...         ...        ...          ...       ...
3364    Vichada   Cumaribo      HOMBRES     41840
3365    Vichada   Cumaribo      MUJERES     37023
3366   País_Col   País_Col  AMBOS SEXOS  50372424
3367   País_Col   País_Col      HOMBRES  24594882
3368   País_Col   País_Col      MUJERES  25777542

[3369 rows x 4 columns]

In [62]:
filtro = dane['Género'] == 'AMBOS SEXOS'
Poblacion = dane.loc[filtro].drop(columns = 'Género')
Poblacion

           Dpto       Municipio      2020
0     Antioquia        Medellín   2533424
3     Antioquia       Abejorral     20287
6     Antioquia        Abriaquí      2735
9     Antioquia      Alejandría      4698
12    Antioquia           Amagá     31283
...         ...             ...       ...
3354    Vichada  Puerto Carreño     20294
3357    Vichada    La Primavera      9608
3360    Vichada   Santa Rosalía      4193
3363    Vichada        Cumaribo     78863
3366   País_Col        País_Col  50372424

[1123 rows x 3 columns]

In [63]:
PoblacionColombia = Poblacion.groupby(['Dpto', 'Municipio'])['2020'].sum().loc[departamento,municipio].sum()
PoblacionColombia

446160

In [143]:
daneEtareos = pd.read_csv('DaneEtareos.csv')

In [144]:
daneEtareos

       REGION Grupos de edad      2020      2021      2022      2023
0    COLOMBIA         00-120  50372424  51049498  51609474  52156254
1    COLOMBIA          00-04   3927256   3922169   3903808   3879605
2    COLOMBIA          05-09   3936569   3957795   3969070   3979773
3    COLOMBIA          10-14   3975771   3973505   3968201   3967071
4    COLOMBIA          15-19   4136556   4102336   4063544   4031577
..        ...            ...       ...       ...       ...       ...
743   Vichada          80-84       346       367       396       420
744   Vichada          85-89       174       188       195       207
745   Vichada          90-94        74        77        82        85
746   Vichada          95-99        32        32        32        32
747   Vichada        100-120        23        21        18        18

[748 rows x 6 columns]

In [146]:
filtro = daneEtareos['REGION'] == departamento
totalDptoEtareos = daneEtareos.loc[filtro]
totalDptoEtareos

     REGION Grupos de edad     2020     2021     2022     2023
132  Caldas         00-120  1018453  1027314  1036455  1046418
133  Caldas          00-04    64815    64897    64831    64591
134  Caldas          05-09    65170    65776    66441    67209
135  Caldas          10-14    67762    67491    67432    67599
136  Caldas          15-19    73975    72985    72090    71402
137  Caldas          20-24    77625    76845    76000    75187
138  Caldas          25-29    76957    77074    76950    76721
139  Caldas          30-34    71389    72674    73978    75197
140  Caldas          35-39    70347    70365    70483    71011
141  Caldas          40-44    65696    67558    69280    70645
142  Caldas          45-49    63209    62740    62839    63608
143  Caldas          50-54    66160    65639    65012    64333
144  Caldas          55-59    64930    65369    65632    65749
145  Caldas          60-64    58379    59577    60723    61813
146  Caldas          65-69    46913    48991    50955    52789
147  Caldas          70-74    34362    35961    37643    39424
148  Caldas          75-79    22953    24269    25626    27025
149  Caldas          80-84    13912    14652    15486    16381
150  Caldas          85-89     7791     8135     8515     8948
151  Caldas          90-94     3959     4072     4208     4363
152  Caldas          95-99     1668     1717     1791     1862
153  Caldas        100-120      481      527      540      561

In [167]:
totalDptoEtareos.dtypes

REGION            object
Grupos de edad    object
2020               int64
2021               int64
2022               int64
2023               int64
dtype: object

In [ ]:
etareoElegido0= '45-49'
etareoElegido1 = '50-54'
etareoElegido2 = '55-59'
etareoElegido3 = '60-64'

In [187]:
etareo0 = totalDptoEtareos['Grupos de edad'] == etareoElegido0
Total0 = totalDptoEtareos.loc[etareo0]['2020'].astype(float)
pd.to_numeric(Total0)

142    63209.0
Name: 2020, dtype: float64

In [188]:
etareo1 = totalDptoEtareos['Grupos de edad'] == etareoElegido1
Total1 = totalDptoEtareos.loc[etareo1]['2020'].astype(float)
pd.to_numeric(Total1)

143    66160.0
Name: 2020, dtype: float64

In [190]:
etareo2 = totalDptoEtareos['Grupos de edad'] == etareoElegido2
Total2 = totalDptoEtareos.loc[etareo2]['2020'].astype(float)
pd.to_numeric(Total2)

144    64930.0
Name: 2020, dtype: float64

In [189]:
etareo3 = totalDptoEtareos['Grupos de edad'] == etareoElegido3
Total3 = totalDptoEtareos.loc[etareo3]['2020'].astype(float)
pd.to_numeric(Total3)

145    58379.0
Name: 2020, dtype: float64

IndexingError: Too many indexers

142   NaN
143   NaN
144   NaN
145   NaN
Name: 2020, dtype: float64

In [162]:
MortalidadGrupoEtareo =(fallecidospordepartamentoygrupoetareo/TotalPoblacionGrupoEtareo)*10000000
MortalidadGrupoEtareo

146    0.0
Name: 2020, dtype: float64