In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CovidColombia.csv')

In [3]:
df

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
0,1,2020-03-02T00:00:00.000,11001,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,...,2020-02-27T00:00:00.000,NaN,2020-03-06T00:00:00.000,2020-03-13T00:00:00.000,2020-03-06T00:00:00.000,PCR,11,380.0,Otro,NaN
1,2,2020-03-06T00:00:00.000,76111,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,...,2020-03-04T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-19T00:00:00.000,2020-03-09T00:00:00.000,PCR,76,724.0,Otro,NaN
2,3,2020-03-07T00:00:00.000,5001,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,...,2020-02-29T00:00:00.000,NaN,2020-03-09T00:00:00.000,2020-03-15T00:00:00.000,2020-03-09T00:00:00.000,PCR,5,724.0,Otro,NaN
3,4,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,...,2020-03-06T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-26T00:00:00.000,2020-03-11T00:00:00.000,PCR,5,NaN,Otro,NaN
4,5,2020-03-09T00:00:00.000,5001,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,...,2020-03-08T00:00:00.000,NaN,2020-03-11T00:00:00.000,2020-03-23T00:00:00.000,2020-03-11T00:00:00.000,PCR,5,NaN,Otro,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120276,120317,2020-06-12T00:00:00.000,91001,Leticia,Amazonas,Fallecido,55,M,En estudio,Fallecido,...,2020-04-20T00:00:00.000,2020-05-19T00:00:00.000,NaN,NaN,2020-07-06T00:00:00.000,NaN,91,NaN,NaN,NaN
120277,120318,2020-06-19T00:00:00.000,91001,Leticia,Amazonas,Fallecido,70,M,En estudio,Fallecido,...,2020-05-10T00:00:00.000,2020-05-01T00:00:00.000,NaN,NaN,2020-07-06T00:00:00.000,NaN,91,NaN,NaN,TUCANO
120278,120319,2020-06-19T00:00:00.000,91001,Leticia,Amazonas,Fallecido,79,M,En estudio,Fallecido,...,2020-04-15T00:00:00.000,2020-05-15T00:00:00.000,NaN,NaN,2020-07-06T00:00:00.000,NaN,91,NaN,NaN,TUCANO
120279,120320,2020-06-19T00:00:00.000,91001,Leticia,Amazonas,Fallecido,58,F,En estudio,Fallecido,...,2020-04-15T00:00:00.000,2020-04-18T00:00:00.000,NaN,NaN,2020-07-06T00:00:00.000,NaN,91,NaN,NaN,NaN
120280,120321,2020-06-01T00:00:00.000,91001,Leticia,Amazonas,Fallecido,56,F,En estudio,Fallecido,...,2020-05-31T00:00:00.000,2020-06-01T00:00:00.000,NaN,NaN,2020-07-06T00:00:00.000,NaN,91,NaN,NaN,NaN

In [4]:
df['Edad'].median()

37.0

In [5]:
df.median()

ID de caso             60181.0
Código DIVIPOLA        11001.0
Edad                      37.0
Codigo departamento       11.0
Codigo pais              724.0
dtype: float64

In [6]:
df.describe()

,ID de caso,Código DIVIPOLA,Edad,Codigo departamento,Codigo pais
count,120281.000000,120281.000000,120281.000000,120281.000000,875.000000
mean,60179.543868,24786.673839,39.345167,24.866147,610.388571
std,34724.709021,25455.481698,18.438075,25.347272,248.383925
min,1.000000,5001.000000,0.000000,5.000000,32.000000
25%,30111.000000,8758.000000,26.000000,9.000000,484.000000
50%,60181.000000,11001.000000,37.000000,11.000000,724.000000
75%,90251.000000,27001.000000,52.000000,27.000000,840.000000
max,120321.000000,99001.000000,111.000000,99.000000,862.000000

In [50]:
df['Edad'].count()

120281

In [8]:
df.columns

Index(['ID de caso', 'Fecha de notificación', 'Código DIVIPOLA',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia', 'FIS',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'fecha reporte web', 'Tipo recuperación', 'Codigo departamento',
       'Codigo pais', 'Pertenencia etnica', 'Nombre grupo etnico'],
      dtype='object')

In [59]:
df['Departamento o Distrito '].value_counts(normalize=True).sort_values(ascending=False)

Bogotá D.C.                                                0.312942
Barranquilla D.E.                                          0.127776
Atlántico                                                  0.104347
Valle del Cauca                                            0.087454
Cartagena D.T. y C.                                        0.079630
Antioquia                                                  0.053084
Nariño                                                     0.033064
Cundinamarca                                               0.027186
Amazonas                                                   0.019820
Chocó                                                      0.016461
Sucre                                                      0.015730
Buenaventura D.E.                                          0.013153
Meta                                                       0.011299
Cesar                                                      0.010983
Santa Marta D.T. y C.                                      0.010201
Tolima                                                     0.009669
Bolívar                                                    0.009519
Córdoba                                                    0.009162
Santander                                                  0.008364
Magdalena                                                  0.007940
La Guajira                                                 0.005495
Risaralda                                                  0.005146
Cauca                                                      0.004523
Boyacá                                                     0.003608
Norte de Santander                                         0.003234
Huila                                                      0.003201
Caldas                                                     0.002270
Quindío                                                    0.001472
Arauca                                                     0.000798
Casanare                                                   0.000732
Caquetá                                                    0.000499
Guaviare                                                   0.000324
Putumayo                                                   0.000316
Archipiélago de San Andrés Providencia y Santa Catalina    0.000233
Vaupés                                                     0.000233
Guainía                                                    0.000125
Vichada                                                    0.000008
Name: Departamento o Distrito , dtype: float64

In [13]:
ciudades= df.groupby(['Ciudad de ubicación'])

In [61]:
departamentos= df.groupby(['Departamento o Distrito '])

In [14]:
ciudades.get_group('Manizales')

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
30,31,2020-03-12T00:00:00.000,17001,Manizales,Caldas,Recuperado,65,M,Importado,Leve,...,2020-03-12T00:00:00.000,NaN,2020-03-13T00:00:00.000,2020-03-26T00:00:00.000,2020-03-13T00:00:00.000,PCR,17,840.0,Otro,NaN
180,181,2020-03-18T00:00:00.000,17001,Manizales,Caldas,Recuperado,22,F,Importado,Leve,...,2020-03-15T00:00:00.000,NaN,2020-03-21T00:00:00.000,2020-04-01T00:00:00.000,2020-03-21T00:00:00.000,PCR,17,840.0,Otro,NaN
371,372,2020-03-21T00:00:00.000,17001,Manizales,Caldas,Recuperado,70,M,Importado,Leve,...,2020-03-17T00:00:00.000,NaN,2020-03-24T00:00:00.000,2020-03-31T00:00:00.000,2020-03-24T00:00:00.000,PCR,17,840.0,Otro,NaN
452,453,2020-03-25T00:00:00.000,17001,Manizales,Caldas,Recuperado,26,F,Importado,Leve,...,2020-03-16T00:00:00.000,NaN,2020-03-25T00:00:00.000,2020-03-30T00:00:00.000,2020-03-25T00:00:00.000,PCR,17,724.0,Otro,NaN
538,539,2020-03-24T00:00:00.000,17001,Manizales,Caldas,Recuperado,81,M,En estudio,Leve,...,2020-03-21T00:00:00.000,NaN,2020-03-27T00:00:00.000,2020-04-04T00:00:00.000,2020-03-27T00:00:00.000,PCR,17,NaN,Otro,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103854,103895,2020-06-27T00:00:00.000,17001,Manizales,Caldas,Casa,47,F,En estudio,Leve,...,2020-06-27T00:00:00.000,NaN,2020-07-02T00:00:00.000,NaN,2020-07-02T00:00:00.000,NaN,17,NaN,NaN,NaN
111007,111048,2020-06-29T00:00:00.000,17001,Manizales,Caldas,Casa,24,M,En estudio,Leve,...,2020-06-28T00:00:00.000,NaN,2020-07-03T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN
111008,111049,2020-06-29T00:00:00.000,17001,Manizales,Caldas,Casa,24,M,En estudio,Leve,...,2020-06-28T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN
111848,111889,2020-06-26T00:00:00.000,17001,Manizales,Caldas,Casa,75,F,En estudio,Leve,...,2020-06-26T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN
111849,111890,2020-06-26T00:00:00.000,17001,Manizales,Caldas,Casa,77,F,En estudio,Leve,...,2020-06-26T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN

In [68]:
departamentos.get_group('Caldas')

,ID de caso,Fecha de notificación,Código DIVIPOLA,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,...,FIS,Fecha de muerte,Fecha diagnostico,Fecha recuperado,fecha reporte web,Tipo recuperación,Codigo departamento,Codigo pais,Pertenencia etnica,Nombre grupo etnico
30,31,2020-03-12T00:00:00.000,17001,Manizales,Caldas,Recuperado,65,M,Importado,Leve,...,2020-03-12T00:00:00.000,NaN,2020-03-13T00:00:00.000,2020-03-26T00:00:00.000,2020-03-13T00:00:00.000,PCR,17,840.0,Otro,NaN
122,123,2020-03-17T00:00:00.000,17877,Viterbo,Caldas,Recuperado,38,F,Importado,Leve,...,2020-03-15T00:00:00.000,NaN,2020-03-19T00:00:00.000,2020-03-31T00:00:00.000,2020-03-19T00:00:00.000,PCR,17,724.0,Otro,NaN
180,181,2020-03-18T00:00:00.000,17001,Manizales,Caldas,Recuperado,22,F,Importado,Leve,...,2020-03-15T00:00:00.000,NaN,2020-03-21T00:00:00.000,2020-04-01T00:00:00.000,2020-03-21T00:00:00.000,PCR,17,840.0,Otro,NaN
217,218,2020-03-19T00:00:00.000,17380,La Dorada,Caldas,Recuperado,24,F,Relacionado,Leve,...,2020-03-16T00:00:00.000,NaN,2020-03-22T00:00:00.000,2020-03-31T00:00:00.000,2020-03-22T00:00:00.000,PCR,17,NaN,Otro,NaN
218,219,2020-03-19T00:00:00.000,17174,Chinchiná,Caldas,Recuperado,51,M,Importado,Leve,...,2020-03-14T00:00:00.000,NaN,2020-03-22T00:00:00.000,2020-03-28T00:00:00.000,2020-03-22T00:00:00.000,PCR,17,724.0,Otro,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111008,111049,2020-06-29T00:00:00.000,17001,Manizales,Caldas,Casa,24,M,En estudio,Leve,...,2020-06-28T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN
111848,111889,2020-06-26T00:00:00.000,17001,Manizales,Caldas,Casa,75,F,En estudio,Leve,...,2020-06-26T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN
111849,111890,2020-06-26T00:00:00.000,17001,Manizales,Caldas,Casa,77,F,En estudio,Leve,...,2020-06-26T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,2020-07-04T00:00:00.000,NaN,17,NaN,NaN,NaN
118192,118233,2020-06-30T00:00:00.000,17042,Anserma,Caldas,Casa,55,M,En estudio,Leve,...,2020-06-24T00:00:00.000,NaN,2020-07-06T00:00:00.000,NaN,2020-07-06T00:00:00.000,NaN,17,NaN,NaN,NaN
118193,118234,2020-06-30T00:00:00.000,17614,Riosucio,Caldas,Casa,40,M,En estudio,Leve,...,2020-06-26T00:00:00.000,NaN,2020-07-06T00:00:00.000,NaN,2020-07-06T00:00:00.000,NaN,17,NaN,NaN,NaN

In [18]:
ciudades['Estado'].value_counts(normalize=True).loc['Manizales']

Estado
Leve            0.775362
Asintomático    0.166667
Moderado        0.036232
Fallecido       0.014493
Grave           0.007246
Name: Estado, dtype: float64

In [69]:
departamentos['Estado'].value_counts(normalize=True).loc['Caldas']

Estado
Leve            0.807407
Asintomático    0.129630
Moderado        0.033333
Fallecido       0.025926
Grave           0.003704
Name: Estado, dtype: float64

In [23]:
ciudades['Edad'].median().loc['Malambo']

38.0

In [70]:
departamentos['Edad'].median().loc['Caldas']

41.0

In [24]:
df.columns

Index(['ID de caso', 'Fecha de notificación', 'Código DIVIPOLA',
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia', 'FIS',
       'Fecha de muerte', 'Fecha diagnostico', 'Fecha recuperado',
       'fecha reporte web', 'Tipo recuperación', 'Codigo departamento',
       'Codigo pais', 'Pertenencia etnica', 'Nombre grupo etnico'],
      dtype='object')

In [26]:
fallecidos =ciudades['Estado'].apply(lambda x: x.str.contains('Fallecido').sum())

In [71]:
fallecidos_dep = departamentos['Estado'].apply(lambda x:x.str.contains('Fallecido').sum())

In [27]:
fallecidos

Ciudad de ubicación
Acacías          0
Acandí           0
Acevedo          0
Achí             0
Agrado           0
                ..
Zarzal           0
Zipacón          0
Zipaquirá        5
Zona Bananera    7
Ábrego           1
Name: Estado, Length: 650, dtype: int64

In [73]:
fallecidos_dep.sort_values()

Departamento o Distrito
Vichada                                                      0
Guaviare                                                     0
Arauca                                                       0
Archipiélago de San Andrés Providencia y Santa Catalina      0
Casanare                                                     0
Guainía                                                      1
Vaupés                                                       1
Caquetá                                                      1
Quindío                                                      5
Caldas                                                       7
Putumayo                                                     8
Huila                                                       11
Boyacá                                                      13
Risaralda                                                   17
Meta                                                        17
Cauca                                                       20
Santander                                                   20
Norte de Santander                                          21
Tolima                                                      24
La Guajira                                                  28
Cesar                                                       31
Bolívar                                                     50
Antioquia                                                   53
Santa Marta D.T. y C.                                       55
Chocó                                                       57
Cundinamarca                                                69
Córdoba                                                     80
Amazonas                                                    96
Magdalena                                                   98
Buenaventura D.E.                                           98
Sucre                                                      102
Nariño                                                     122
Cartagena D.T. y C.                                        361
Valle del Cauca                                            364
Atlántico                                                  612
Bogotá D.C.                                                858
Barranquilla D.E.                                          908
Name: Estado, dtype: int64

In [28]:
casos_ciudad = df['Ciudad de ubicación'].value_counts()

In [74]:
casos_departamento = df['Departamento o Distrito '].value_counts()

In [29]:
casos_ciudad

Bogotá D.C.            37641
Barranquilla           15369
Cartagena de Indias     9578
Cali                    9049
Soledad                 7113
                       ...
Cocorná                    1
Pijiño del Carmen          1
San Vicente Ferrer         1
Palestina                  1
Jericó                     1
Name: Ciudad de ubicación, Length: 650, dtype: int64

In [75]:
casos_departamento

Bogotá D.C.                                                37641
Barranquilla D.E.                                          15369
Atlántico                                                  12551
Valle del Cauca                                            10519
Cartagena D.T. y C.                                         9578
Antioquia                                                   6385
Nariño                                                      3977
Cundinamarca                                                3270
Amazonas                                                    2384
Chocó                                                       1980
Sucre                                                       1892
Buenaventura D.E.                                           1582
Meta                                                        1359
Cesar                                                       1321
Santa Marta D.T. y C.                                       1227
Tolima                                                      1163
Bolívar                                                     1145
Córdoba                                                     1102
Santander                                                   1006
Magdalena                                                    955
La Guajira                                                   661
Risaralda                                                    619
Cauca                                                        544
Boyacá                                                       434
Norte de Santander                                           389
Huila                                                        385
Caldas                                                       273
Quindío                                                      177
Arauca                                                        96
Casanare                                                      88
Caquetá                                                       60
Guaviare                                                      39
Putumayo                                                      38
Vaupés                                                        28
Archipiélago de San Andrés Providencia y Santa Catalina       28
Guainía                                                       15
Vichada                                                        1
Name: Departamento o Distrito , dtype: int64

In [30]:
 concatenada= pd.concat([casos_ciudad, fallecidos], axis= 'columns', sort=False)

In [76]:
concat_dptos= pd.concat([casos_departamento, fallecidos_dep], axis='columns')

In [31]:
concatenada

                     Ciudad de ubicación  Estado
Bogotá D.C.                        37641     858
Barranquilla                       15369     908
Cartagena de Indias                 9578     361
Cali                                9049     302
Soledad                             7113     377
...                                  ...     ...
Cocorná                                1       0
Pijiño del Carmen                      1       1
San Vicente Ferrer                     1       0
Palestina                              1       0
Jericó                                 1       0

[650 rows x 2 columns]

In [77]:
concat_dptos

,Departamento o Distrito,Estado
Bogotá D.C.,37641,858
Barranquilla D.E.,15369,908
Atlántico,12551,612
Valle del Cauca,10519,364
Cartagena D.T. y C.,9578,361
Antioquia,6385,53
Nariño,3977,122
Cundinamarca,3270,69
Amazonas,2384,96
Chocó,1980,57
Sucre,1892,102
Buenaventura D.E.,1582,98
Meta,1359,17
Cesar,1321,31
Santa Marta D.T. y C.,1227,55
Tolima,1163,24
Bolívar,1145,50
Córdoba,1102,80
Santander,1006,20
Magdalena,955,98
La Guajira,661,28
Risaralda,619,17
Cauca,544,20
Boyacá,434,13
Norte de Santander,389,21
Huila,385,11
Caldas,273,7
Quindío,177,5
Arauca,96,0
Casanare,88,0
Caquetá,60,1
Guaviare,39,0
Putumayo,38,8
Vaupés,28,1
Archipiélago de San Andrés Providencia y Santa Catalina,28,0
Guainía,15,1
Vichada,1,0

In [33]:
concatenada.rename(columns={'Ciudad de ubicación':'Número casos', 'Estado':'Fallecidos'}, inplace=True)

In [79]:
concat_dptos.rename(columns={'Departamento o Distrito ': 'Número casos', 'Estado':'Fallecidos'},inplace=True)

In [34]:
concatenada

                     Número casos  Fallecidos
Bogotá D.C.                 37641         858
Barranquilla                15369         908
Cartagena de Indias          9578         361
Cali                         9049         302
Soledad                      7113         377
...                           ...         ...
Cocorná                         1           0
Pijiño del Carmen               1           1
San Vicente Ferrer              1           0
Palestina                       1           0
Jericó                          1           0

[650 rows x 2 columns]

In [35]:
concatenada['Porcentaje'] = (concatenada['Fallecidos']/concatenada['Número casos']) *100

In [80]:
concat_dptos['Porcentaje']= (concat_dptos['Fallecidos']/concat_dptos['Número casos']) *100

In [36]:
concatenada

                     Número casos  Fallecidos  Porcentaje
Bogotá D.C.                 37641         858    2.279429
Barranquilla                15369         908    5.907997
Cartagena de Indias          9578         361    3.769054
Cali                         9049         302    3.337385
Soledad                      7113         377    5.300155
...                           ...         ...         ...
Cocorná                         1           0    0.000000
Pijiño del Carmen               1           1  100.000000
San Vicente Ferrer              1           0    0.000000
Palestina                       1           0    0.000000
Jericó                          1           0    0.000000

[650 rows x 3 columns]

In [39]:
concatenada.sort_values(by='Porcentaje', ascending=True, inplace=True)

In [85]:
concat_dptos.sort_values(by='Porcentaje', ascending= False, inplace=True)

In [45]:
concatenada.loc['Bogotá D.C.']

Número casos    37641.000000
Fallecidos        858.000000
Porcentaje          2.279429
Name: Bogotá D.C., dtype: float64

In [86]:
concat_dptos.loc['Caldas']

Número casos    273.000000
Fallecidos        7.000000
Porcentaje        2.564103
Name: Caldas, dtype: float64