# Bases de datos 

Para los análisis se toman las bases de datos, última actualización, de organizaciones internacionales y nacionales:

    - ONU 
    - OMS 
    - INS 
    - DANE

### Variables para análisis:

In [245]:
pais = 'Colombia'

departamento = 'Barranquilla D.E.'

municipio = ''

variable_buscar = 'Estado'  # puede ser 'Atención' o 'Estado'

estado = 'Grave'  # Si atención:  ['Recuperado', 'Hospital', 'Hospital UCI', nan, 'Casa']
                   # Si Estado:   ['Leve', 'Asintomático', 'Fallecido', 'Moderado', 'Grave', nan]

ano = '2020'

In [246]:
import pandas as pd
pd.set_option("display.precision", 2)

## Población mundial por países y proyección 2020  a 2100

In [247]:
mundo= pd.read_csv('poblacionMundial.csv', usecols= ['Country', '2020', 'Spanish'])

mundo.set_index('Spanish', inplace=True)
mundo

                                                    Country        2020
Spanish
MUNDO                                                 WORLD  7794799000
África                                               Africa  1340598000
Asia                                                   Asia  4641055000
Europa                                               Europe   747636000
América Latina y el Caribe  Latin America and the Caribbean   653962000
...                                                     ...         ...
islas Bermudas                                      Bermuda       62000
Canadá                                               Canada    37742000
Groenlandia                                       Greenland       57000
San Pedro y Miquelón              Saint Pierre and Miquelon        6000
Estados Unidos de America          United States of America   331003000

[242 rows x 2 columns]

## Total casos y número de fallecidos por país

In [248]:
covMun= pd.read_csv('CovidMundoT.csv', usecols= ['País', 'Total_Casos','Fallecidos'])
covMun

,País,Total_Casos,Fallecidos
0,Afghanistan,35289,1147
1,Albania,3906,107
2,Algeria,21948,1057
3,Andorra,880,52
4,Angola,638,29
...,...,...,...
211,Viet Nam,382,0
212,Yemen,1580,441
213,Zambia,2810,109
214,Zimbabwe,1420,24
215,"occupied Palestinian territory, including east...",9055,57

## Total casos y número de fallecidos Colombia por fecha, departamento, municipio, atención, edad, género, fechas de diagnóstico, recuperación o muerte.

In [249]:
covCol = pd.read_csv('CovidColombia.csv', usecols= ['Fecha de notificación', 
       'Ciudad de ubicación', 'Departamento o Distrito ', 'atención', 'Edad',
       'Sexo', 'Tipo', 'Estado', 'País de procedencia', 'Fecha recuperado', 'Fecha diagnostico','Fecha de muerte', 
       'Tipo recuperación'], parse_dates = ['Fecha de notificación','Fecha de muerte', 'Fecha diagnostico','Fecha recuperado'], low_memory=False)

covCol['Fecha de muerte'] = pd.to_datetime(covCol['Fecha de muerte'], errors='coerce')

fechas =['Fecha de notificación']
for i in fechas:
    covCol[i] = pd.to_datetime(covCol[i])

covCol

,Fecha de notificación,Ciudad de ubicación,Departamento o Distrito,atención,Edad,Sexo,Tipo,Estado,País de procedencia,Fecha de muerte,Fecha diagnostico,Fecha recuperado,Tipo recuperación
0,2020-03-02,Bogotá D.C.,Bogotá D.C.,Recuperado,19,F,Importado,Leve,ITALIA,NaT,2020-03-06,2020-03-13,PCR
1,2020-03-06,Guadalajara de Buga,Valle del Cauca,Recuperado,34,M,Importado,Leve,ESPAÑA,NaT,2020-03-09,2020-03-19,PCR
2,2020-03-07,Medellín,Antioquia,Recuperado,50,F,Importado,Leve,ESPAÑA,NaT,2020-03-09,2020-03-15,PCR
3,2020-03-09,Medellín,Antioquia,Recuperado,55,M,Relacionado,Leve,NaN,NaT,2020-03-11,2020-03-26,PCR
4,2020-03-09,Medellín,Antioquia,Recuperado,25,M,Relacionado,Leve,NaN,NaT,2020-03-11,2020-03-23,PCR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
387476,2020-07-31,Bogotá D.C.,Bogotá D.C.,Casa,10,M,En estudio,Leve,NaN,NaT,2020-08-07,NaT,NaN
387477,2020-07-31,Bogotá D.C.,Bogotá D.C.,Casa,21,M,En estudio,Leve,NaN,NaT,2020-08-07,NaT,NaN
387478,2020-07-31,Bogotá D.C.,Bogotá D.C.,Casa,39,F,En estudio,Leve,NaN,NaT,2020-08-07,NaT,NaN
387479,2020-07-31,Bogotá D.C.,Bogotá D.C.,Casa,55,M,En estudio,Leve,NaN,NaT,2020-08-07,NaT,NaN
387480,2020-07-01,Bogotá D.C.,Bogotá D.C.,Casa,44,F,En estudio,Leve,NaN,NaT,2020-07-22,NaT,NaN

## Población Colombia por departamento, municipio y género proyectada para el año 2020.

In [250]:
Col = pd.read_csv('Dane2018_2023.csv').drop(columns = ['2018',
       '2019','2021', '2022', '2023' ])
Col

           Dpto  Municipio       Género      2020
0     Antioquia   Medellín  AMBOS SEXOS   2533424
1     Antioquia   Medellín      HOMBRES   1193791
2     Antioquia   Medellín      MUJERES   1339633
3     Antioquia  Abejorral  AMBOS SEXOS     20287
4     Antioquia  Abejorral      HOMBRES     10558
...         ...        ...          ...       ...
3364    Vichada   Cumaribo      HOMBRES     41840
3365    Vichada   Cumaribo      MUJERES     37023
3366   País_Col   País_Col  AMBOS SEXOS  50372424
3367   País_Col   País_Col      HOMBRES  24594882
3368   País_Col   País_Col      MUJERES  25777542

[3369 rows x 4 columns]

#### Poblaciones

#### Colombia

In [251]:
Poblacion_pais = mundo.loc[pais, ano]
Poblacion_pais

50883000

#### Total casos COVID-19

In [252]:
total_casos_covid_colombia = covCol['Fecha de notificación'].count()
total_casos_covid_colombia

387481

#### Total Fallecidos por COVID-19

In [253]:
Fallecidos_pais = covCol['Fecha de muerte'].count()
Fallecidos_pais

13502

In [254]:
filtro = Col['Género'] == 'AMBOS SEXOS'
Col = Col.loc[filtro, :].drop(columns=['Género'])

Col.set_index(['Dpto', 'Municipio'], inplace=True)

In [255]:
covCol.rename(columns={"Departamento o Distrito ": "Dpto", "Ciudad de ubicación": "Municipio", "atención":"Atención", "Fecha diagnostico":"Fecha diagnóstico"}, inplace=True)

covCol.set_index(['Dpto', 'Municipio'], inplace = True)

#### Casos y poblaciones por departamento y municipio

In [256]:
Tasas = pd.merge(covCol, Col, left_index=True, right_index=True).reset_index()

Tasas

,Dpto,Municipio,Fecha de notificación,Atención,Edad,Sexo,Tipo,Estado,País de procedencia,Fecha de muerte,Fecha diagnóstico,Fecha recuperado,Tipo recuperación,2020
0,Amazonas,Leticia,2020-04-14,Recuperado,26,M,Relacionado,Leve,NaN,NaT,2020-04-17,2020-05-19,PCR,49737
1,Amazonas,Leticia,2020-04-13,Recuperado,47,F,Importado,Leve,BRASIL,NaT,2020-04-18,2020-05-31,Tiempo,49737
2,Amazonas,Leticia,2020-04-14,Recuperado,16,F,Relacionado,Leve,NaN,NaT,2020-04-18,2020-05-29,PCR,49737
3,Amazonas,Leticia,2020-04-14,Recuperado,41,F,Importado,Leve,BRASIL,NaT,2020-04-18,2020-05-29,PCR,49737
4,Amazonas,Leticia,2020-04-16,Recuperado,54,M,Relacionado,Leve,NaN,NaT,2020-04-21,2020-04-29,PCR,49737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373075,Vichada,La Primavera,2020-07-15,Hospital,78,F,En estudio,Moderado,NaN,NaT,2020-07-17,NaT,NaN,9608
373076,Vichada,Puerto Carreño,2020-05-29,Recuperado,20,M,En estudio,Asintomático,NaN,NaT,2020-05-29,2020-06-07,PCR,20294
373077,Vichada,Puerto Carreño,2020-07-22,Casa,19,M,Relacionado,Leve,NaN,NaT,2020-08-02,NaT,NaN,20294
373078,Vichada,Puerto Carreño,2020-07-22,Casa,20,M,Relacionado,Leve,NaN,NaT,2020-08-02,NaT,NaN,20294
373079,Vichada,Puerto Carreño,2020-07-22,Casa,19,M,Relacionado,Leve,NaN,NaT,2020-08-02,NaT,NaN,20294

#### Municipios con casos reportados por SARS CoV-2 a:

In [257]:
pd.Timestamp.today()

Timestamp('2020-08-10 16:56:43.130196')

In [258]:
Tasas['Municipio'].unique()

array(['Leticia', 'Puerto Nariño', 'Abejorral', 'Abriaquí', 'Amagá',
       'Amalfi', 'Andes', 'Angostura', 'Anorí', 'Apartadó', 'Arboletes',
       'Argelia', 'Armenia', 'Barbosa', 'Bello', 'Belmira', 'Betania',
       'Betulia', 'Briceño', 'Buriticá', 'Caicedo', 'Caldas',
       'Campamento', 'Caracolí', 'Caramanta', 'Carepa', 'Carolina',
       'Caucasia', 'Cañasgordas', 'Chigorodó', 'Cisneros',
       'Ciudad Bolívar', 'Cocorná', 'Concepción', 'Concordia',
       'Copacabana', 'Cáceres', 'Dabeiba', 'Ebéjico', 'El Bagre',
       'El Carmen de Viboral', 'El Santuario', 'Envigado', 'Fredonia',
       'Frontino', 'Giraldo', 'Girardota', 'Granada', 'Guadalupe',
       'Guarne', 'Guatapé', 'Gómez Plata', 'Heliconia', 'Hispania',
       'Ituango', 'Jericó', 'La Ceja', 'La Estrella', 'La Pintada',
       'La Unión', 'Liborina', 'Maceo', 'Marinilla', 'Medellín',
       'Montebello', 'Murindó', 'Mutatá', 'Nechí', 'Necoclí', 'Olaya',
       'Peque', 'Peñol', 'Puerto Berrío', 'Puerto Nare', 'Puerto Triunfo',
       'Remedios', 'Retiro', 'Rionegro', 'Sabanalarga', 'Sabaneta',
       'Salgar', 'San Andrés de Cuerquía', 'San Carlos', 'San Francisco',
       'San Jerónimo', 'San Juan de Urabá', 'San Luis',
       'San Pedro de Urabá', 'San Rafael', 'San Roque', 'Santa Bárbara',
       'Santa Rosa de Osos', 'Santo Domingo', 'Segovia', 'Sonsón',
       'Sopetrán', 'Tarazá', 'Tarso', 'Titiribí', 'Toledo', 'Turbo',
       'Támesis', 'Uramita', 'Urrao', 'Valdivia', 'Valparaíso', 'Venecia',
       'Vigía del Fuerte', 'Yarumal', 'Yolombó', 'Yondó', 'Zaragoza',
       'Arauca', 'Arauquita', 'Fortul', 'Saravena', 'Tame', 'Providencia',
       'San Andrés', 'Baranoa', 'Candelaria', 'Galapa', 'Juan de Acosta',
       'Luruaco', 'Malambo', 'Manatí', 'Palmar de Varela', 'Piojó',
       'Polonuevo', 'Ponedera', 'Puerto Colombia', 'Repelón',
       'Sabanagrande', 'Santa Lucía', 'Santo Tomás', 'Soledad', 'Suan',
       'Tubará', 'Usiacurí', 'Barranquilla', 'Bogotá D.C.', 'Achí',
       'Altos del Rosario', 'Arenal', 'Arjona', 'Arroyohondo',
       'Barranco de Loba', 'Calamar', 'Cantagallo', 'Cicuco', 'Clemencia',
       'Córdoba', 'El Carmen de Bolívar', 'El Guamo', 'El Peñón',
       'Hatillo de Loba', 'Magangué', 'Mahates', 'Margarita', 'Mompós',
       'Montecristo', 'Morales', 'Norosí', 'Pinillos', 'Regidor',
       'San Cristóbal', 'San Estanislao', 'San Jacinto',
       'San Jacinto del Cauca', 'San Juan Nepomuceno',
       'San Martín de Loba', 'San Pablo', 'Santa Catalina', 'Santa Rosa',
       'Santa Rosa del Sur', 'Soplaviento', 'Talaigua Nuevo', 'Tiquisio',
       'Turbaco', 'Turbaná', 'Villanueva', 'Zambrano', 'Almeida',
       'Aquitania', 'Arcabuco', 'Belén', 'Buenavista', 'Chiquinquirá',
       'Chíquiza', 'Coper', 'Corrales', 'Covarachía', 'Cubará', 'Cucaita',
       'Cuítiva', 'Cómbita', 'Duitama', 'Firavitoba', 'Garagoa',
       'Guateque', 'Guayatá', 'Iza', 'La Uvita', 'Maripí', 'Miraflores',
       'Monguí', 'Moniquirá', 'Motavita', 'Muzo', 'Nobsa', 'Nuevo Colón',
       'Oicatá', 'Pachavita', 'Paipa', 'Pauna', 'Paya', 'Pesca',
       'Puerto Boyacá', 'Quípama', 'Ramiriquí', 'Saboyá', 'Samacá',
       'San Miguel de Sema', 'San Pablo de Borbur',
       'Santa Rosa de Viterbo', 'Santa Sofía', 'Santana', 'Siachoque',
       'Soatá', 'Socha', 'Sogamoso', 'Soracá', 'Sotaquirá', 'Susacón',
       'Sutamarchán', 'Sáchica', 'Tasco', 'Tenza', 'Tibaná', 'Tibasosa',
       'Tinjacá', 'Tipacoque', 'Toca', 'Togüí', 'Tunja', 'Turmequé',
       'Tuta', 'Ventaquemada', 'Villa de Leyva', 'Viracachá', 'Zetaquira',
       'Buenaventura', 'Aguadas', 'Anserma', 'Aranzazu', 'Belalcázar',
       'Chinchiná', 'La Dorada', 'La Merced', 'Manizales', 'Manzanares',
       'Marmato', 'Marquetalia', 'Neira', 'Norcasia', 'Palestina',
       'Pensilvania', 'Pácora', 'Riosucio', 'Risaralda', 'Salamina',
       'Samaná', 'Supía', 'Villamaría', 'Viterbo', 'Albania',
       'Cartagena del Chairá', 'Curillo', 'El Doncello', 'Florencia',
       'La Montañita', 'Milán', 'Morelia', 'Puerto Rico',
       'San José del Fragua', 'San Vicente del Caguán', 'Solano',
       'Solita', 'Cartagena de Indias', 'Aguazul', 'Hato Corozal', 'Maní',
       'Monterrey', 'Orocué', 'Paz de Ariporo', 'Pore', 'Tauramena',
       'Trinidad', 'Yopal', 'Balboa', 'Bolívar', 'Buenos Aires',
       'Cajibío', 'Caldono', 'Caloto', 'Corinto', 'El Tambo', 'Jambaló',
       'La Sierra', 'La Vega', 'Mercaderes', 'Miranda', 'Padilla',
       'Patía', 'Piendamó', 'Popayán', 'Puerto Tejada', 'Puracé', 'Rosas',
       'Santander de Quilichao', 'Silvia', 'Sucre', 'Suárez', 'Timbiquí',
       'Timbío', 'Totoró', 'Aguachica', 'Agustín Codazzi', 'Astrea',
       'Becerril', 'Bosconia', 'Chimichagua', 'Chiriguaná', 'Curumaní',
       'El Copey', 'El Paso', 'Gamarra', 'González', 'La Gloria',
       'La Jagua de Ibirico', 'La Paz', 'Pailitas', 'Pelaya',
       'Pueblo Bello', 'Río de Oro', 'San Alberto', 'San Diego',
       'San Martín', 'Tamalameque', 'Valledupar', 'Acandí', 'Atrato',
       'Bagadó', 'Bahía Solano', 'Bajo Baudó', 'Condoto', 'Cértegui',
       'El Carmen de Atrato', 'Istmina', 'Lloró', 'Medio Baudó',
       'Medio San Juan', 'Nuquí', 'Nóvita', 'Quibdó', 'Río Quito', 'Tadó',
       'Unguía', 'Unión Panamericana', 'Agua de Dios', 'Albán',
       'Anapoima', 'Anolaima', 'Apulo', 'Arbeláez', 'Beltrán', 'Bituima',
       'Bojacá', 'Cabrera', 'Cachipay', 'Cajicá', 'Caparrapí',
       'Carmen de Carupa', 'Chaguaní', 'Chipaque', 'Choachí', 'Chocontá',
       'Chía', 'Cogua', 'Cota', 'Cucunubá', 'El Colegio', 'El Rosal',
       'Facatativá', 'Fosca', 'Funza', 'Fusagasugá', 'Fúquene',
       'Gachancipá', 'Gachetá', 'Gama', 'Girardot', 'Guachetá', 'Guaduas',
       'Guasca', 'Guataquí', 'Guatavita', 'Guayabetal', 'Junín',
       'La Calera', 'La Mesa', 'La Palma', 'Lenguazaque', 'Madrid',
       'Manta', 'Mosquera', 'Nariño', 'Nemocón', 'Nilo', 'Nimaima',
       'Pacho', 'Pandi', 'Pasca', 'Puerto Salgar', 'Quebradanegra',
       'Quetame', 'Ricaurte', 'San Antonio del Tequendama',
       'San Bernardo', 'Sasaima', 'Sesquilé', 'Sibaté', 'Silvania',
       'Simijaca', 'Soacha', 'Sopó', 'Subachoque', 'Suesca', 'Tabio',
       'Tausa', 'Tena', 'Tenjo', 'Tocaima', 'Tocancipá', 'Ubalá',
       'Ubaque', 'Une', 'Vergara', 'Vianí', 'Villagómez', 'Villapinzón',
       'Villeta', 'Viotá', 'Yacopí', 'Zipacón', 'Zipaquirá', 'Útica',
       'Inírida', 'San José del Guaviare', 'Acevedo', 'Agrado', 'Aipe',
       'Algeciras', 'Altamira', 'Baraya', 'Campoalegre', 'Colombia',
       'Elías', 'Garzón', 'Gigante', 'Hobo', 'Isnos', 'La Argentina',
       'La Plata', 'Neiva', 'Nátaga', 'Oporapa', 'Paicol', 'Palermo',
       'Pital', 'Pitalito', 'Rivera', 'Saladoblanco', 'San Agustín',
       'Santa María', 'Suaza', 'Tarqui', 'Tello', 'Teruel', 'Timaná',
       'Villavieja', 'Yaguará', 'Barrancas', 'Dibulla', 'Distracción',
       'El Molino', 'Fonseca', 'Hatonuevo', 'La Jagua del Pilar',
       'Maicao', 'Manaure', 'Riohacha', 'San Juan del Cesar', 'Uribia',
       'Urumita', 'Algarrobo', 'Aracataca', 'Ariguaní', 'Chivolo',
       'Ciénaga', 'El Banco', 'El Retén', 'Fundación', 'Guamal',
       'Nueva Granada', 'Pedraza', 'Pijiño del Carmen', 'Pivijay',
       'Plato', 'Puebloviejo', 'Remolino', 'San Sebastián de Buenavista',
       'San Zenón', 'Santa Ana', 'Santa Bárbara de Pinto', 'Sitionuevo',
       'Zapayán', 'Zona Bananera', 'Acacías', 'Cabuyaro',
       'Castilla la Nueva', 'Cumaral', 'El Castillo', 'Fuente de Oro',
       'Mapiripán', 'Mesetas', 'Puerto Gaitán', 'Puerto López',
       'Restrepo', 'San Carlos de Guaroa', 'San Juan de Arama',
       'Villavicencio', 'Aldana', 'Ancuyá', 'Arboleda', 'Barbacoas',
       'Buesaco', 'Chachagüí', 'Colón', 'Contadero', 'Cumbal',
       'Cumbitara', 'El Charco', 'El Peñol', 'Francisco Pizarro', 'Funes',
       'Guachucal', 'Guaitarilla', 'Gualmatán', 'Iles', 'Imués',
       'Ipiales', 'La Cruz', 'La Florida', 'La Llanada', 'La Tola',
       'Leiva', 'Linares', 'Los Andes', 'Mallama', 'Olaya Herrera',
       'Pasto', 'Potosí', 'Puerres', 'Pupiales', 'Roberto Payán',
       'Samaniego', 'San Andrés de Tumaco', 'San Lorenzo',
       'San Pedro de Cartago', 'Sandoná', 'Santacruz', 'Sapuyes',
       'Taminango', 'Tangua', 'Túquerres', 'Yacuanquer', 'Arboledas',
       'Bochalema', 'Bucarasica', 'Chinácota', 'Chitagá', 'Convención',
       'Cucutilla', 'Cácota', 'Cúcuta', 'Durania', 'El Carmen',
       'El Tarra', 'El Zulia', 'Gramalote', 'La Esperanza', 'La Playa',
       'Labateca', 'Los Patios', 'Lourdes', 'Mutiscua', 'Ocaña',
       'Pamplona', 'Pamplonita', 'Puerto Santander', 'Ragonvalia',
       'San Calixto', 'San Cayetano', 'Santiago', 'Sardinata', 'Silos',
       'Teorama', 'Tibú', 'Villa Caro', 'Villa del Rosario', 'Mocoa',
       'Orito', 'Puerto Asís', 'Puerto Caicedo', 'Puerto Guzmán',
       'San Miguel', 'Sibundoy', 'Valle del Guamuez', 'Villagarzón',
       'Circasia', 'Filandia', 'Génova', 'La Tebaida', 'Montenegro',
       'Quimbaya', 'Salento', 'Apía', 'Belén de Umbría', 'Dosquebradas',
       'La Celia', 'La Virginia', 'Marsella', 'Pereira', 'Pueblo Rico',
       'Quinchía', 'Santa Rosa de Cabal', 'Santuario', 'Santa Marta',
       'Aguada', 'Aratoca', 'Barichara', 'Barrancabermeja', 'Bucaramanga',
       'California', 'Carcasí', 'Cepitá', 'Chipatá', 'Cimitarra',
       'Confines', 'Coromoro', 'Curití', 'El Carmen de Chucurí',
       'El Guacamayo', 'El Playón', 'Floridablanca', 'Galán', 'Girón',
       'Guaca', 'Guapotá', 'Guavatá', 'Hato', 'La Belleza', 'Landázuri',
       'Lebrija', 'Los Santos', 'Matanza', 'Mogotes', 'Málaga', 'Oiba',
       'Onzaga', 'Piedecuesta', 'Pinchote', 'Puerto Parra',
       'Puerto Wilches', 'Páramo', 'Sabana de Torres', 'San Benito',
       'San Gil', 'San Joaquín', 'San José de Miranda',
       'San Vicente de Chucurí', 'Santa Helena del Opón', 'Socorro',
       'Suaita', 'Tona', 'Valle de San José', 'Vetas', 'Vélez',
       'Zapatoca', 'Caimito', 'Chalán', 'Coloso', 'Corozal', 'Coveñas',
       'El Roble', 'Galeras', 'Guaranda', 'Los Palmitos', 'Majagual',
       'Morroa', 'Ovejas', 'Palmito', 'Sampués', 'San Juan de Betulia',
       'San Luis de Sincé', 'San Marcos', 'San Onofre', 'San Pedro',
       'Santiago de Tolú', 'Sincelejo', 'Tolú Viejo', 'Alpujarra',
       'Alvarado', 'Ambalema', 'Anzoátegui', 'Armero', 'Ataco',
       'Cajamarca', 'Carmen de Apicalá', 'Casabianca', 'Chaparral',
       'Coyaima', 'Dolores', 'Espinal', 'Flandes', 'Fresno', 'Guamo',
       'Herveo', 'Honda', 'Ibagué', 'Icononzo', 'Lérida', 'Líbano',
       'Melgar', 'Natagaima', 'Ortega', 'Palocabildo', 'Piedras',
       'Planadas', 'Prado', 'Purificación', 'Rioblanco', 'Rovira',
       'Saldaña', 'San Antonio', 'Valle de San Juan', 'Venadillo',
       'Villarrica', 'Alcalá', 'Andalucía', 'Ansermanuevo',
       'Bugalagrande', 'Caicedonia', 'Cali', 'Calima', 'Cartago', 'Dagua',
       'El Cairo', 'El Cerrito', 'El Dovio', 'El Águila', 'Florida',
       'Ginebra', 'Guacarí', 'Guadalajara de Buga', 'Jamundí',
       'La Cumbre', 'La Victoria', 'Obando', 'Palmira', 'Pradera',
       'Roldanillo', 'Sevilla', 'Toro', 'Trujillo', 'Tuluá', 'Ulloa',
       'Versalles', 'Vijes', 'Yotoco', 'Yumbo', 'Zarzal', 'Mitú',
       'Taraira', 'La Primavera', 'Puerto Carreño'], dtype=object)

In [259]:
Casos_a_Fecha = Tasas.groupby(['Dpto', 'Municipio'])[['Fecha de notificación', 'Fecha de muerte',
        'Fecha recuperado']].count().loc[[departamento, municipio]]

In [260]:
Cuadro_Tasas = pd.merge(Casos_a_Fecha, Col, left_index=True, right_index=True)

In [261]:
Cuadro_Tasas.rename({'Fecha de notificación':'Total casos', 
                     'Fecha de muerte':'Fallecidos', 
                     'Fecha recuperado': 'Recuperados', 
                     '2020': 'Población'}, axis = 'columns', inplace=True)

In [262]:
Cuadro_Tasas['Tasa de letalidad por 100 habitantes'] = (Cuadro_Tasas['Fallecidos']/Cuadro_Tasas['Total casos'])*100
Cuadro_Tasas['Tasa de mortalidad por 100.000 habitantes'] = (Cuadro_Tasas['Fallecidos']/Cuadro_Tasas['Población'])*100000

#### Tasas de letalidad y de mortalidad por Departamento o Municipio

In [263]:
Cuadro_Tasas

,,Total casos,Fallecidos,Recuperados,Población,Tasa de letalidad por 100 habitantes,Tasa de mortalidad por 100.000 habitantes
Dpto,Municipio,,,,,,
Barranquilla D.E.,Barranquilla,32892,1595,26015,1274250,4.85,125.17

In [264]:
if departamento == '' and municipio== '':
    print('Debe ingresar mínimo el Departamento.  Inténtelo nuevamente')
    pass
else:
    if municipio == '':
        Total_casos = Cuadro_Tasas.loc[departamento, 'Total casos'].astype(int) 
        Fallecidos_dpto_munic = Cuadro_Tasas.loc[(departamento), 'Fallecidos'].astype(int)
        Poblacion_dpto_munic = Cuadro_Tasas.loc[(departamento), 'Población'].astype(int)
    
    else:
        Total_casos = Cuadro_Tasas.loc[(departamento, municipio), 'Total casos'].astype(int)
        Fallecidos_dpto_munic = Cuadro_Tasas.loc[(departamento, municipio), 'Fallecidos'].astype(int)
        Poblacion_dpto_munic = Cuadro_Tasas.loc[(departamento, municipio), 'Población'].astype(int)

In [265]:
#total_casos_covid_colombia

#### Fallecidos por municipio

In [266]:
Fallecidos_dpto_munic

Municipio
Barranquilla    1595
Name: Fallecidos, dtype: int64

#### Población por municipio  (municipios afectados por CoV-2)

In [267]:
#Fallecidos_pais

In [268]:
Poblacion_dpto_munic

Municipio
Barranquilla    1274250
Name: Población, dtype: int64

#### Total población en áreas afectadas del departamento o municipio

In [269]:
Poblacion_dpto_munic.sum()

1274250

#### Población Departamental o Municipal

In [270]:
poblacionDpto = Col.loc[(departamento),'2020'].sum()
poblacionDpto

1274250

In [271]:
#Poblacion_pais

#### Casos por municipio

In [272]:
Total_casos

Municipio
Barranquilla    32892
Name: Total casos, dtype: int64

#### Casos en el departamento

In [273]:
Total_casos_dpto = Total_casos.sum()

Total_casos_dpto

32892

#### Resumen situacional

In [274]:
hoy = pd.Timestamp.today()

In [275]:
filtro= Tasas[variable_buscar]== estado
if municipio == '':
    Cuadro_filtrados = Tasas.loc[filtro, 'Atención': 'Tipo recuperación'].loc[(Tasas['Dpto'] == departamento)]
    numero_estados= Cuadro_filtrados.loc[:, variable_buscar].count()
    print('Según datos reportados al ', hoy, ' por el INS Colombiano, de los ' + str(Total_casos_dpto)
          + ' casos de '+ departamento + ', ' + str(numero_estados) +' casos, es decir el '
          + str(((numero_estados/Total_casos_dpto)*100).round(2))+' %, está en condición: '
          + variable_buscar + ' ' + estado + ' y representan el ' 
          + str(((numero_estados/Col.loc[(departamento),'2020'].sum())*100).round(6)) 
          + ' %  de los '+ str(Col.loc[(departamento),'2020'].sum()) + ' habitantes de ' + departamento)
   
    print('La tasa de mortalidad en los municipios del Departamento de ' + departamento + ' por cien mil habitantes es: '
          + str(((Fallecidos_dpto_munic/poblacionDpto)*100000).round(2)))
    
    print('La tasa de letalidad en los municipios del Departamento de ' + departamento + 
          ' por cien enfermos de CoVid-19, es: ' + str(((Fallecidos_dpto_munic/Total_casos)*100).round(2)))

else:
    Cuadro_filtrados = Tasas.loc[filtro, 'Atención': 'Tipo recuperación'].loc[(Tasas['Dpto'] == departamento) & (Tasas['Municipio']== municipio)]
    numero_estados= Cuadro_filtrados.loc[:, variable_buscar].count()
    print('Según datos reportados al', hoy, 'por el INS Colombiano, de los ' + str(Total_casos) + ' casos de '+ municipio + ', ' 
          + str(numero_estados) +' casos, es decir el '+ str(((numero_estados/Total_casos)*100).round(2))
          +' %, están en '+ variable_buscar + ': ' + estado + ' y representan el '
          + str(((numero_estados/Poblacion_dpto_munic.sum())*100).round(6)) 
          + ' % de los ' + str(Poblacion_dpto_munic.sum()) + ' habitantes de ' + municipio +'.','\n')
    
    print('La tasa de letalidad en el municipio de '+ municipio + ',' + ' Departamento de ' 
          + departamento + ' es de ' + str(((Fallecidos_dpto_munic/Total_casos)*100).round(2)) 
          + ' por cien enfermos de CoVid-19.','\n')
    
    print('La tasa de mortalidad en el municipio de '+ municipio + ',' + ' Departamento de ' 
          + departamento + ' es de ' + str(((Fallecidos_dpto_munic/Poblacion_dpto_munic)*100000).round(2)) 
          + ' por cien mil habitantes.','\n')
    
print('La tasa de mortalidad de ' + pais+ ' por CoV-2 ' + 'es de ' + str(((Fallecidos_pais/Poblacion_pais)*1000000).round(1))+ ' por millón de habitantes.','\n')

print('La tasa de letalidad de '+pais+ ' por CoV-2 ' + 'es de ' + str(((Fallecidos_pais/total_casos_covid_colombia)*100).round(2))+ ' por cien enfermos de CoVid-19.','\n')

Según datos reportados al  2020-08-10 16:56:43.648630  por el INS Colombiano, de los 32892 casos de Barranquilla D.E., 65 casos, es decir el 0.2 %, está en condición: Estado Grave y representan el 0.005101 %  de los 1274250 habitantes de Barranquilla D.E.
La tasa de mortalidad en los municipios del Departamento de Barranquilla D.E. por cien mil habitantes es: Municipio
Barranquilla    125.17
Name: Fallecidos, dtype: float64
La tasa de letalidad en los municipios del Departamento de Barranquilla D.E. por cien enfermos de CoVid-19, es: Municipio
Barranquilla    4.85
dtype: float64
La tasa de mortalidad de Colombia por CoV-2 es de 265.4 por millón de habitantes.

La tasa de letalidad de Colombia por CoV-2 es de 3.48 por cien enfermos de CoVid-19.